.body {
  /** Adjust body width to account for triangles on ends */
  width: calc(100% - 5rem);
  height: 100%;

  /** Shift body to account for arrow tails */
  position: absolute;
  /** !TODO: Adjust this more intelligently for position === 'first' chevrons */
  left: 2.5rem;

  /** Background */
  background-color: rgb(127 59 134);
}

.arrow {
  /** Creating triangles with borders, so collapse element */
  width: 0;
  height: 0;

  /** To ensure triangles do not interfere with DOM spacing */
  position: absolute;
}

.arrowTip {
  /** Create right-facing triangle */
  border-top: 2.5rem solid transparent;
  border-bottom: 2.5rem solid transparent;
  border-left: 2.5rem solid rgb(127 59 134);

  /** To ensure triangles do not interfere with DOM spacing */
  position: absolute;
  right: 0;
}

.arrowTailTop {
  /** Create up-facing triangle */
  border-right: 2.5rem solid transparent;
  border-bottom: 2.5rem solid rgb(127 59 134);

  /** Position triangle at end of box & adjust rotation */
  rotate: 0.5turn;
}

.arrowTailBottom {
  /** Create up-facing triangle */
  border-right: 2.5rem solid transparent;
  border-bottom: 2.5rem solid rgb(127 59 134);

  /** Position triangle at end of box & adjust rotation */
  bottom: 0;
  rotate: 0.75turn;
}
